/* Cuestiones generales */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: skyblue;
}

h2 {
   text-align: center;
   background-color: skyblue;
   transition: 1s linear;
}

/* Armado del header */

header {
    background-color: rgb(181, 68, 68);
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color: white;
}

nav {
    margin-left: 5px;
    padding-left: 20px;
}

#navbarSupportedContent {
    text-decoration: none;
    color: aliceblue;
}


#navbarSupportedContent ul li {
    width: 150px;
}
/* Fin del armado del header */

p {
    font-size: medium;
    text-align: left;
    font-family: 'Roboto Slab', serif;
     
}

/* Fin de cuestiones generales */

/* Página Home */

.home {
    background-color: skyblue;
    display: grid;
    margin-top: 30px;
}

.iframe-home {  
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    }
    
/* Footer */
footer {
    background-color: black;
    font-family: "Open Sans";
    padding-top: 20px;
    color: white;
}

.home-footer {
    text-align: center;
    margin-top: 100px;
    }


.home-footer p {
   margin: 10px;
   justify-content: center;
   white-space: nowrap
}

.redes {
    background-color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.footer-frase {

    padding: 20px 0;
    text-align: center;
}

.footer-frase p {
    font-size: 12px;
    word-spacing: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

/* Grid para organizar pagina noticias */

.noticias {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.noticias div { 
    border: solid 2px black;

}

/* Página noticias */

/* Tamaño texto */
.noticias p { 
    margin: 15px;
}

.noticias h3 { 
    font-size: x-large;
}

/* Fijar tamaño imágenes */

.tamaño {
    width: 600px;
    height: 400px;
  }

  
/* Página Fase de grupos */

/* Armado de los cuadros de grupos */

.col td {
    
    border: solid 1px black;
}

.col th {
    
    border: solid 1px black;
}

thead {
    background-color: white;
}

/* Hover para cuadros de grupos */
.grupo1:hover{

    background-color: gray;
    transform: scale(1.1);
}


/* Grid para ordenar los grupos */

.contenedor {
    display: grid;
    text-align: center;
    align-items: center;
    margin-left: 94px;
    }

/* Estilos de los grupos */



/* Página Fase Eliminatoria */

/* Ordenar el formulario */

.form-eliminatoria {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pregunta-eliminatoria {
  justify-content: center;
}

.form-eliminatoria label {
    font-size: large;
    text-decoration: underline;
}

#area-correo {
   position: relative;
   left: 2em;
}

.favoritosapuestas {
    margin: 50px;
}

/* Página estadística */ 

/* Fondo de la página */

.estadistica {
    background-image: url("public/numeros.jpg");
    background-size: auto;
        
}

.tablas-estadisticas {
    background-color: white;

}

.tablas-estadisticas th {
    border: solid 1px black;

}  

.tablas-estadisticas td {
    border: solid 1px black;

}  
/* Media queries */

@media screen and (min-width: 768px) {

    .contenedor {
        margin-left: 200px;
        }

    .contenedor h3 {
    margin-right: 100px;
    }

    .pregunta-eliminatoria {
    margin-left: 150px;
    }
}

